/*
 * For license information, please read: http://pm85122.onamae.jp/851fontTerm.html
 * Or the 851fontTerm.html stored locally.
 */
@font-face
{
  font-family: '851';
  src: url("851tegaki_zatsu_normal_0883.woff2") format('woff2')
}

.font-custom
{
  font-family: "851", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
