@use '@callmebill/lxgw-wenkai-web/lxgwwenkai-regular/result.css';
@use 'source/source';

// Constants
$font: "LXGW Wenkai", --apple-system, Avenir, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
$font-en: "Source Sans 3", $font;

@font-face {
  font-family: 'Hua';
  src: url("/fonts/FZSJ-HUAZCMWWKQ.woff2") format('woff2'),
  url("/fonts/FZSJ-HUAZCMWWKQ.woff") format('woff');
}

@font-face {
  font-family: 'STXINGKA';
  src: url("/fonts/STXINGKA.woff2") format('woff2');
}

@font-face {
  font-family: 'katex-math';
  src: url("/fonts/NotoSansMath-Regular.woff2") format('woff2');
}

.font-custom {
  font-family: 'Hua', 'STXINGKA', $font;
  line-height: 1.3rem;
}
