/*
 * For license information, please read: http://pm85122.onamae.jp/851fontTerm.html
 * Or the 851fontTerm.html stored locally.
 */
@font-face
{
  font-family: 'Hua';
  src: url("/fonts/FZSJ-HUAZCMWWKQ.woff2") format('woff2'),
       url("/fonts/FZSJ-HUAZCMWWKQ.woff") format('woff')
}

.font-custom
{
  font-family: "Hua", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
