$color-text-main: #70512a
$color-text-light: rgba(166, 134, 89, 0.84)
$color-text-special: #ff8373

// Lower means lighter
$color-bg-6: #ffeedb
$color-bg-5: #fff4eb
$color-bg-4: #fffcf9

// dark colors

$color-text-dark-main: #f0c0a8
$color-text-dark-light: rgba(255, 235, 194, 0.84)
$color-text-dark-special: #e4aeb0

$color-bg-dark-6: #35240f
$color-bg-dark-5: #241708
$color-bg-dark-4: #0f0901