@font-face
  font-family: 'FZSJ-HUAZCMWWKQ'
  src: url("/FZSJ-HUAZCMWWKQ.woff2") format('woff2'), url("/FZSJ-HUAZCMWWKQ.ttf") format('truetype')

.font-custom
  font-family: FZSJ-HUAZCMWWKQ, Avenir, Helvetica, Arial, sans-serif
