$ease-in: cubic-bezier(0.42, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.58, 1);
$ease-in-back: cubic-bezier(0.36, 0, 0.66, -0.56);
$ease-out-back: cubic-bezier(0.34, 0.56, 0.64, 1);
$ease-in-out-back: cubic-bezier(0.68, -0.60, 0.32, 1.60);
$ease-in-cric: cubic-bezier(0.55, 0, 1, 0.45);
$ease-out-cric: cubic-bezier(0, 0.55, 0.45, 1);
$ease-in-out-cric: cubic-bezier(0.85, 0.00, 0.15, 1.00);