name: Vite Build

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - closed
  workflow_dispatch:

jobs:
  build:
    name: Build main
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install and build
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          yarn install --immutable
          yarn build

      - name: Publish artifact code
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
