name: Vite Build

on:
#  push:
#    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Build main
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install and build
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          yarn install
          yarn build

      - name: Publish artifact code
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist
