name: Vite Build

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Build and deploy main
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install and build
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          yarn install
          # pass --base if CNAME is not used
          # npm run build -- --base=/${{ github.event.repository.name }}/
          yarn build
          
          # Enable Vue Router history mode with 404.html hack for Github Pages
          ln -s dist/index.html dist/404.html

      - name: Publish artifact code
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist
